n8n/workflows/google-sheets-sync.json
{
  "name": "Google Sheets Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-response-submitted",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "form-response-submitted"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$json.body.google_sheet_id}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{$json.body.google_sheet_tab || 'Form Responses 1'}}"
        },
        "options": {
          "range": "1:2"
        }
      },
      "name": "Read Sheet Headers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [500, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Date formatting helpers (match Google Forms format)\nfunction fmtTimestamp(iso) {\n  const d = new Date(iso);\n  if (isNaN(d.getTime())) return iso;\n  const M = d.getMonth() + 1;\n  const D = d.getDate();\n  const Y = d.getFullYear();\n  const h = d.getHours();\n  const m = String(d.getMinutes()).padStart(2, '0');\n  const s = String(d.getSeconds()).padStart(2, '0');\n  return `${M}/${D}/${Y} ${h}:${m}:${s}`;\n}\nfunction fmtDate(val) {\n  const d = new Date(val);\n  if (isNaN(d.getTime())) return String(val);\n  return `${d.getMonth() + 1}/${d.getDate()}/${d.getFullYear()}`;\n}\nfunction fmtTime(val) {\n  const d = new Date(val);\n  if (isNaN(d.getTime())) return String(val);\n  let h = d.getHours();\n  const ap = h >= 12 ? 'PM' : 'AM';\n  h = h % 12 || 12;\n  const m = String(d.getMinutes()).padStart(2, '0');\n  const s = String(d.getSeconds()).padStart(2, '0');\n  return `${h}:${m}:${s} ${ap}`;\n}\n\n// Get sheet column headers (skip n8n metadata 'row_number')\nconst sheetRow = $('Read Sheet Headers').first().json;\nconst headers = Object.keys(sheetRow).filter(h => h !== 'row_number');\n\nconst payload = $('Webhook').first().json.body;\n\n// SPARSE mapping: only include columns that match field responses\n// This prevents overwriting other columns when updating an existing row\n// (e.g., weekly form updating weekly columns without clearing daily columns)\nconst row = {};\nlet lookupColumn = null;\nlet lookupValue = null;\n\n// Set Timestamp in first column\nif (headers.length > 0) {\n  row[headers[0]] = fmtTimestamp(payload.timestamp);\n}\n\n// Name-based matching: match each field to its sheet column\n// Uses sheet_header (exact Google Sheet column name) if available, falls back to label\nfor (const f of payload.field_responses) {\n  const matchName = f.sheet_header || f.label;\n  const matched = headers.find(h =>\n    h === matchName || h.trim() === matchName || h.trim() === matchName.trim()\n  );\n  if (matched) {\n    let value;\n    if (f.value === null || f.value === undefined) {\n      value = '';\n    } else if (f.field_type === 'date') {\n      value = fmtDate(f.value);\n    } else if (f.field_type === 'datetime') {\n      value = fmtTime(f.value);\n    } else {\n      value = String(f.value);\n    }\n    row[matched] = value;\n\n    // Use the first date field as the lookup column for upsert\n    // This allows multiple forms sharing the same sheet to match rows by date\n    if (f.field_type === 'date' && !lookupColumn) {\n      lookupColumn = matched;\n      lookupValue = value;\n    }\n  }\n}\n\n// Add signature/selfie URLs if present\nif (payload.completion_signature) {\n  row['Signature'] = payload.completion_signature;\n}\nif (payload.completion_selfie) {\n  row['Selfie'] = payload.completion_selfie;\n}\n\n// Store lookup info as metadata for the Append Or Update node\nrow['__lookupColumn'] = lookupColumn || headers[0];\nrow['__lookupValue'] = lookupValue || row[headers[0]];\n\nreturn [{ json: { ...row } }];"
      },
      "name": "Map Fields to Columns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$('Webhook').first().json.body.google_sheet_id}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{$('Webhook').first().json.body.google_sheet_tab || 'Form Responses 1'}}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["={{$json.__lookupColumn}}"],
          "schema": []
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "name": "Append Or Update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Row synced to Google Sheet', response_id: $('Webhook').first().json.body.response_id, lookup_column: $('Map Fields to Columns').first().json.__lookupColumn } }}",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Read Sheet Headers", "type": "main", "index": 0 }]]
    },
    "Read Sheet Headers": {
      "main": [[{ "node": "Map Fields to Columns", "type": "main", "index": 0 }]]
    },
    "Map Fields to Columns": {
      "main": [[{ "node": "Append Or Update", "type": "main", "index": 0 }]]
    },
    "Append Or Update": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
